
html,body {
    background:#000;
    overflow:hidden;
    min-width:100%;
    padding:0;
    margin:0;
}

        #video-player {
       position:absolute;         top:0; 
     right:0; 
           
            width: 100%;
            height: 100%;
            border: none;
    transition:width 0.8s ease, height 0.8s ease,
                transform 0.8s ease;   
    transform-origin: right top;      
            
        }

  #video-player.small{
    width:650px;         
    height:300px;        
  }





.follow{
  position:fixed;
  right:90px;
  top:40px;
}
.follow img {
    width: 110px;
    height: 60px;


}

        #marquee {
            font-size: 25px;
            font-weight: bold;
            
      
        position: fixed;
        overflow: hidden;
        margin: 0;
        
        
        top: 0;
        left: 0;
        right: 0;
        background-color: #4169e1;
        color: #ffffff;
      }
    
.slider-container {
    
bottom :0px;
    width: 100%;
    height: 70px;
   overflow: hidden;
    position: fixed;
    
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth sliding transition */
}

/* Each slide takes up the full width of the container */
.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 70px;
    display: block;
}


        #clock-container {
            background-color: red;
            width: 100px;
            
            height: 35px;
position:fixed;
  right:0px;
  top:0px;
            
            

            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        #display {
            color: white;
            font-size: 1rem; /* Large, readable font size */
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
            opacity: 1;
            transition: opacity 0.5s ease-in-out; 
        }
        
        .marquee-label {
            position: absolute;
            left: 0;
             top:0px;
            background: red;
            color: white;
            padding: 0 20px;
            height: 35px;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 16px;
            
            border-right: 3px solid #ffd700;
        }
        
#image-slider-container {
    /* Hidden by default */
    display: none;
    overflow: hidden;
    /* Overlay styles */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

/* Class to make the slider visible */
#image-slider-container.active {
    display: flex; /* Use flex to enable centering */
}

/* The image inside the slider */
#slider-image {
    width: 100%;
    height: 100%;
    
    /* Add a subtle fade-in effect for image changes */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* You could add a fade-out class for a smoother transition between images */
#slider-image.fade-out {
    opacity: 0;
}


    
    













































